/*Estilização do Portifolio*/

body {
    color: white;
    background-color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
ul {
    display: flex;
    justify-content: space-between ;
    list-style-type: none;
    align-items: center;
    padding:16px ;
}
a {
    color:white ;
    text-decoration: none ;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(155, 24, 236);
}
.center {
    text-align: center; /*pode ser usado para centralizar textos tbm.*/
}
h1 {
    color: rgb(155, 24, 236);
}
footer img {
    width: 40px;
    height:40px ;
    border-radius: 50%;
    border: 3px solid rgb(155, 24, 236);
}
footer {
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}
.container{
    padding:0px 50px;
}
nav a:hover{
    color: rgb(155,24,236);
}
section ul{
    display: block;
    list-style: circle;
}
footer p{
    text-align:left ;
}
main section h3{
    background-color: rgb(155, 24, 236);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
}